{% extends "base.html" %} 
{% block title_head %} Acerca {% endblock title_head%} 

{% block h1_header %} Ezequiel Martinez {% endblock h1_header %} 

{% block main %}
<p>
  Hola soy Ezequiel Martínez, me gusta la tecnología y el desarrollo
  de aplicaciones. Siempre me ha gustado cómo la tecnología puede hacer nuestra
  vida más fácil y cómoda, y eso me motivó a crear una app que se enfoque en
  mostrar diferentes productos de manera sencilla. La idea surgió porque noté
  que muchas veces cuesta encontrar productos de manera rápida y organizada. Por
  eso, quise desarrollar una plataforma donde puedas explorar una amplia
  variedad de productos de forma intuitiva y sin complicaciones. Mi objetivo es
  que cualquier persona pueda acceder fácilmente a lo que busca, ya sea para
  descubrir algo nuevo o encontrar lo que necesita. Me encanta trabajar en
  proyectos que mejoren la experiencia del usuario, y esta app es una forma de
  conectar a la gente con productos de manera rápida y eficiente.
</p>

{% endblock main %}
