{% extends "base.html" %} 
{% block title_head %} Acerca {% endblock title_head%}

{% block h1_header %} Ezequiel Martinez {% endblock h1_header %} 

{% block main%}
<p>
  Hola soy Ezequiel Martínez, me gusta la tecnología y el desarrollo de
  aplicaciones. Siempre me ha gustado cómo la tecnología puede hacer la vida más
  fácil y cómoda. Me meti a ver cursos, termine hablando con un amigo de lo
  mismo y me recomendo que pruebe coder. Me parecio interesante y vine a poner
  en marcha lo que me gustaba. La verdad que el curso es excelente con gran
  contenido, buena y detallada explicacion de cada tema. Esta costando agarrarle
  la mano pero una vez te sentaste, si o si queres que salga, espero que con
  mayor aprendizaje le pueda agarrar mejor la mano, confio en el proceso.
</p>

{% endblock main %}
