{% extends "base.html" %}
{% block title_head %}
Ver producto
{% endblock title_head %}
{% block h1_header %} 
Ver producto
{% endblock h1_header %}
{% block main %}

<h1>Lista de Productos</h1>
<ul>
    {% for producto in productos %}
        <li>Nombre: {{ producto.nombre }}</li>
        <li>Categoría: {{ producto.categoria }}</li>
        <li>Descripción: 
            {% if producto.descripcion|length > 90 %}
                {{ producto.descripcion|truncatechars:90 }}
                <span id="descripcion-completa-{{ producto.id }}" style="display: none;">
                    {{ producto.descripcion|slice:"20:" }}
                </span>
                <a href="#"  onclick="mostrarDescripcionCompleta({{ producto.id }}); this.style.display='none'; return false;">Ver más</a>
            {% else %}
                {{ producto.descripcion }}
            {% endif %}
        </li>
        
        <li>Foto: 
         {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="Imagen de {{ producto.nombre }}" height="100px">
            {% else %}
                <p>No hay imagen disponible.</p>
            {% endif %} 
        </li>
        <li>
        <a href="{% url 'eliminar_producto' producto.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a>
        <a href="{% url 'editar_producto' producto.id %}">Editar</a>
        </li>
        <br>
        <br>
        <br>
        <br>
    {% empty %}
        <li>No hay productos disponibles.</li>
    {% endfor %}
</ul>


<script>
function mostrarDescripcionCompleta(id) {
    var descripcionCompleta = document.getElementById('descripcion-completa-' + id);
    descripcionCompleta.style.display = 'inline';
}
</script>

{% endblock main %}



